.hero {
  height: 100vh;
  background: url("../img/top.jpg") no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;

  h1 {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
    }
    &::before {
    }
  }
}
