.hero {
  height: 100vh;
  background: url("../img/top.jpg") no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;
}
