@media screen and (max-width: 767px) {
  .main-header {
    .menu-icon {
      display: block;
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: #00e8dc;
      background: #333333;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(200px at top right);
    }

    .menu-btn:checked ~ .nav-links {
    }
  }
}
