@media screen and (max-width: 767px) {
  .main-header {
    .menu-icon {
      display: block;
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      flex-direction: column;
    }
  }
}
